h1, h2, h3, p{
    background-color: rgb(242, 218, 178);
    font-family: "Garamond", Times, serif;
    color: rgb(0, 0, 0);
}

h1{
    color: rgb(113, 28, 250);
}

p{
    margin-left: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: rgb(242, 218, 178);
    font-family: "Garamond", Times, serif;
    color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
}
.main {
    float: left;
    width: 70%;
    padding: 10px;
}
.side:after {
    display: table;
    clear: both;
}

.inner{
    background-color: rgb(242, 218, 178);
    padding: 10px;
}

.name{
    text-align: center;
}